<!DOCTYPE html PUBLIC " -//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title></title>
<style>
.page { background-color:white; position:relative; z-index:0; }
.vector { position:absolute; z-index:1; }
.image { position:absolute; z-index:2; }
.text { position:absolute; z-index:3; opacity:inherit; white-space:nowrap; }
.annotation { position:absolute; z-index:5; }
.control { position:absolute; z-index:10; }
.annotation2 { position:absolute; z-index:7; }
.dummyimg { vertical-align: top; border: none; }

</style>
</head>
<body style="background-color:#999999;color:#000000;">
<div id="canvas" align="center">

<!-- page 1 begin -->
<div class="page" style="width:1024.0px;height:1448.2px;">
<div class="annotation" style="cursor:pointer;left:383.0px;top:95.4px;width:239.2px;height:25.2px;" title="mailto:karthickvasu98@gmail.com" onclick="document.location='mailto:karthickvasu98@gmail.com';"><img class="dummyimg" width="239" height="25" src="data:image/gif;base64,R0lGODlhAQABAJH/AP///wAAAMDAwAAAACH5BAEAAAIALAAAAAABAAEAQAICVAEAOw==" /></div>
<div class="annotation" style="cursor:pointer;left:633.3px;top:95.4px;width:78.5px;height:25.2px;" title="http://www.linkedin.com/in/karthickvasu" onclick="document.location='http://www.linkedin.com/in/karthickvasu';"><img class="dummyimg" width="79" height="25" src="data:image/gif;base64,R0lGODlhAQABAJH/AP///wAAAMDAwAAAACH5BAEAAAIALAAAAAABAAEAQAICVAEAOw==" /></div>
<div class="annotation" style="cursor:pointer;left:722.9px;top:95.4px;width:67.0px;height:25.2px;" title="https://github.com/karthick-vasu-98" onclick="document.location='https://github.com/karthick-vasu-98';"><img class="dummyimg" width="67" height="25" src="data:image/gif;base64,R0lGODlhAQABAJH/AP///wAAAMDAwAAAACH5BAEAAAIALAAAAAABAAEAQAICVAEAOw==" /></div>

<span style="font-size:24px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:424.9px;top:35.5px;">KARTHICK VASU&nbsp;</span>
<span class="text" style="left:395.8px;top:64.8px;">SOFTWARE ENGINEER&nbsp;</span>
</span>
<span style="font-size:21px;font-family:'Times';">
<span class="text" style="left:225.8px;top:94.3px;">+91-9080892903 |</span>
</span>
<span style="color:#0462C1;font-size:21px;font-family:'Times';">
<span class="text" style="left:387.1px;top:94.3px;text-decoration:underline"><a href='mailto:karthickvasu98@gmail.com'>karthickvasu98@gmail.com</a></span>
</span>
<span style="font-size:21px;font-family:'Times';">
<span class="text" style="left:623.1px;top:94.3px;">|</span>
</span>
<span style="color:#0462C1;font-size:21px;font-family:'Times';">
<span class="text" style="left:637.3px;top:94.3px;text-decoration:underline">LinkedIn</span>
</span>
<span style="font-size:21px;font-family:'Times';">
<span class="text" style="left:713.1px;top:94.3px;">|</span>
</span>
<span style="color:#0462C1;font-size:21px;font-family:'Times';">
<span class="text" style="left:727.1px;top:94.3px;text-decoration:underline">GitHub</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:855.9px;top:1387.7px;">Karthick Vasu&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:48.7px;top:149.1px;">Experienced Software Engineer with 4+ years in software development and data engineering. Proficient in designing</span>
<span class="text" style="left:48.7px;top:174.0px;">and implementing scalable solutions, optimizing data pipelines. Strong collaborator known for creative problem-</span>
<span class="text" style="left:48.7px;top:198.8px;">solving and driving project success.&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:48.7px;top:237.6px;">SKILLS&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:277.2px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:277.2px;">Technical Languages:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:280.1px;top:277.2px;">Python, SQL, HQL, JavaScript, Html, CSS, Bash.</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:303.3px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:303.3px;">Frameworks &amp; Libraries:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:306.8px;top:303.3px;">PySpark, Django, Apache airflow, Hadoop, Kafka, jQuery, bootstrap.</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:329.1px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:329.1px;">Cloud Deployment Technologies:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:369.8px;top:329.1px;">&nbsp;AWS (S3, EC2, EMR, Glue, Lambda, EKS, RDS, Cloud watch, kinesis, Redshift,</span>
<span class="text" style="left:110.7px;top:354.0px;">SQS, SNS), Docker, Kubernetes</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:380.0px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:380.0px;">Database Server:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:244.4px;top:380.0px;">&nbsp;MySQL, MongoDB.</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:405.8px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:405.8px;">Operating System:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:260.3px;top:405.8px;">Linux.</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:431.9px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:431.9px;">Tools:</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:157.9px;top:431.9px;">&nbsp;Jira, GitHub, VsCode, Vi editor.</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:48.7px;top:470.5px;">CORE COMPETENCIES&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:510.3px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:110.7px;top:510.3px;">Data pipeline| Database Designing| System designing | Datawarehouse Designing | Object Oriented designing&nbsp;</span>
<span class="text" style="left:110.7px;top:535.1px;">| Unit testing&amp; debugging</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:48.7px;top:573.9px;">WORK EXPERIENCE&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:613.5px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:613.5px;">Software Engineer (PySpark) at NatWest Groups&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:493.6px;top:613.5px;">&#8211;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:503.1px;top:613.5px;">&nbsp;Chennai (May 2023 to Present)&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:638.5px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:638.5px;">Build high performance batch processing data application which does RWA calculations which includes</span>
<span class="text" style="left:172.6px;top:663.5px;">CCR/CVA and Output Floor calculations for both retail and wholesale trades using PySpark.&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:688.3px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:688.3px;">Developed validation stage for existing dags which reduces the time involved in the manual work in</span>
<span class="text" style="left:172.6px;top:713.2px;">unit testing the data duplication.&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:738.2px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:738.2px;">Build high performance batch processing data application which does merging of IFRS9 norm changes</span>
<span class="text" style="left:172.6px;top:763.2px;">to Basel 3.1 changes which includes ECL allocation and IFRS9 Rederivation.&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:788.0px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:788.0px;">Migrated the existing dags from Airflow version 1 to Airflow version 2&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:813.0px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:813.0px;">Worked along with the infrastructure team to improve the overall performance of the airflow dags&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:79.7px;top:863.9px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:110.7px;top:863.9px;">Software Engineer (Core Python) at Seaant Web Technologies&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:599.3px;top:863.9px;">&#8211;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:608.6px;top:863.9px;">&nbsp;Chennai (Dec 2020 to April 2023)&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:888.7px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:888.7px;">Designed and developed multiple highly scalable and efficient python-based application using python</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:951.3px;top:888.7px;">&#8217;</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:956.1px;top:888.7px;">s</span>
<span class="text" style="left:172.6px;top:913.7px;">Django and Django REST framework in micro service architecture and integrated with frontend.</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:938.7px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:938.7px;">Fully digitalized the India</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:363.8px;top:938.7px;">&#8217;s Leading Hearing Care Sol</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:570.8px;top:938.7px;">ution providers every aspect of their business&nbsp;</span>
<span class="text" style="left:172.6px;top:963.6px;">which also includes an advanced audiogram test tool by which audiologist can perform advanced</span>
<span class="text" style="left:172.6px;top:988.4px;">audiometry test online with at most accuracy.</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:1013.4px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:1013.4px;">Designed and developed a complex algorithm which extracts the data from scanned Japanese&nbsp;</span>
<span class="text" style="left:172.6px;top:1038.4px;">document and translates it into English using a technique called knowledge-based anchoring.</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:1063.4px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:1063.4px;">Designed and developed an internal python-based framework called SAF (Seaant Framework) based o</span>
<span class="text" style="left:172.6px;top:1088.2px;">DRY principle to reduce the duplication of work. By which increased the overall performance of the</span>
<span class="text" style="left:172.6px;top:1113.1px;">company by drastically reducing the development and deployment time.</span>
</span>
<span style="font-size:19px;font-family:'Courier New';">
<span class="text" style="left:141.6px;top:1138.1px;">o</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:172.6px;top:1138.1px;">Worked along with the deployment team to migrate the existing application to microservice</span>
<span class="text" style="left:172.6px;top:1163.1px;">architecture which increased the performance of the applications.</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:48.7px;top:1201.7px;">EDUCATION&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:83.8px;top:1241.5px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:114.8px;top:1241.5px;">B.Tech/ECE (2015 to 2019)&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:326.4px;top:1241.5px;">&#8211;</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:335.9px;top:1241.5px;">&nbsp;BSA Abdur Rahman Crescent Institute of Science and Technology, Chennai.</span>
</span>
<span style="font-size:19px;font-family:'Times';font-weight:bold;">
<span class="text" style="left:48.7px;top:1280.1px;">DECLARATION&nbsp;</span>
</span>
<span style="font-size:19px;font-family:'Symbol';">
<span class="text" style="left:83.8px;top:1319.7px;">&#8226;</span>
</span>
<span style="font-size:19px;font-family:'Times';">
<span class="text" style="left:114.8px;top:1319.7px;">I hereby state that the information given above is accurate to best of my knowledge.</span>
</span>

</div>
<!-- page 1 end -->
<p></p>


</div>
</body>
</html>
